body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
}

nav a {
    color: rgba(80, 9, 9, 0.351);
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background: rgb(8, 144, 128);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    color: white;
}
.button-with-css:before {
  content: "★ ";
}

.button-with-css:after {
  content: " ✓";
}
/* The side navigation menu */
.sidenav {
  height: 30%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #863838; 
  overflow-x: hidden; 
  transition: 0.4s; 
  padding-top: 60px; 
}

/* Sidenav links */
.sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #575757;
}

/* Close button "X" */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
}

/* Menu button (☰ Menu) */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #673f3f;
  color: rgb(184, 161, 161);
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  margin: 1em;
}

.openbtn:hover {
  background-color: #3e3939;
}