header p.tagline {
    font-style: italic;
    margin-top: -1em;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside ul li {
    padding: .25em 0;
}

aside button {
    width: 200px;
    height: 2em;
}
pre { 
    border: 1px solid #ccc;
    background-color: white;
    font-size: 125%;
    overflow: auto; /*don't break box - add scrollbars */
}