
.highlight {
    background-color: rgb(34, 172, 172);

}

#special {
    color: rgb(10, 39, 152);
}
body { background-color: rgb(90, 114, 90);
}
.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item {
  background-color: #f1f1f1;
  padding: 20px;
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
}

/* Mobile: convert to single column */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
