.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.content-table thead tr {
    background-color: #471884;
}

.content-table thead th {
    color: #f1f1f1;
    text-align: left;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table img {
    width: 100px;
    height: 100px;
}
body {
    background-color: #68d3df;
}